.scheduleCard {
    background-color: #ffffff;
    border-radius: 10px;
    
    padding: 30px;
    width: 44%;
    height: 280px;
  }
  
  .eventCard {
    border-left-width: 4px;
    border-left-style: solid;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
  }
  
  .eventCard h3 {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    margin: 0;
  }
  
  .eventCard p {
    margin: 5px 0;
    font-size: 12px;
  }
  